{% extends 'layout/base.html' %}
{% block title %}Add New Project {% endblock %}

<!-- Konten Halaman -->

{% block content %}

<!-- Content wrapper -->
<div class="content-wrapper">
    <div class="card mb-4">
        <h5 class="card-header">Partisipasi User dalam Proyek</h5>
        <form id="project-form" class="card-body">
            <h6>1. Informasi Umum</h6>
            <div class="row g-3">
                <div class="col-md-6">
                    <label class="form-label" for="nama-proyek">Nama Proyek</label>
                    <input type="text" id="nama-proyek" class="form-control" name="nama_proyek" disabled
                        value="{{ proyek.nama_proyek }}">
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="deskripsi">Deskripsi</label>
                    <input type="text" id="deskripsi" class="form-control" name="deskripsi" disabled
                        value="{{ proyek.deskripsi }}">
                </div>

                <div class="col-md-6">
                    <label class="form-label" for="periode">Periode</label>
                    <input type="text" id="periode" class="form-control"
                        value="{{ proyek.periode_mulai }} s/d {{ proyek.periode_selesai }}" disabled>
                </div>

                <div class="col-md-3">
                    <label class="form-label" for="jumlah-responden">Jumlah Responden</label>
                    <input type="number" id="jumlah-responden" class="form-control" name="jumlah_responden" disabled
                        value="{{ proyek.jumlah_responden }}">
                </div>
                <div class="col-md-3">
                    <label class="form-label" for="jumlah-kriteria">Jumlah Kriteria</label>
                    <input type="number" id="jumlah-kriteria" class="form-control" name="jumlah_kirteria" disabled
                        value="{{ proyek.jumlah_kriteria }}">
                </div>
            </div>

            <hr class="my-4 mx-n4">
            <h6>2. Kriteria yang Dinilai</h6>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 1%;">No</th>
                        <th>Kriteria</th>
                    </tr>
                </thead>
                <tbody>
                    {% for kriteria in kriterias %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ kriteria.nama_kriteria |e }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <hr class="my-4 mx-n4">
            <h6>3. Penilaian Kriteria oleh User</h6>
            <div class="accordion" id="collapsibleSection">
                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingBO">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseBO" aria-expanded="true" aria-controls="collapseBO">
                            Best to Others (BO)
                        </button>
                    </h2>
                    <div id="collapseBO" class="accordion-collapse collapse show" data-bs-parent="#collapsibleSection1">
                        <div class="accordion-body">
                            <!-- Dropdown untuk Best to Others -->


                            <div class="row g-3">
                                {% for kriteria in kriterias %}
                                <div class="col-md-11">
                                    <label class="form-label">Kriteria {{ loop.index }}</label>
                                    <input type="text" class="form-control" value="{{ kriteria.nama_kriteria }}"
                                        disabled>
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label">Nilai</label>
                                    <input type="number" class="form-control" name="bo_nilai[]" placeholder="1-9"
                                        data-id_kriteria="{{ kriteria.id_kriteria }}">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card accordion-item">
                    <h2 class="accordion-header" id="headingOW">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOW" aria-expanded="false" aria-controls="collapseOW">
                            Others to Worst (OW)
                        </button>
                    </h2>
                    <div id="collapseOW" class="accordion-collapse collapse show" data-bs-parent="#collapsibleSection2">
                        <div class="accordion-body">

                            <div class="row g-3">
                                {% for kriteria in kriterias %}
                                <div class="col-md-11">
                                    <label class="form-label">Kriteria {{ loop.index }}</label>
                                    <input type="text" class="form-control" value="{{ kriteria.nama_kriteria }}"
                                        disabled>
                                </div>
                                <div class="col-md-1">
                                    <label class="form-label">Nilai</label>
                                    <input type="number" class="form-control" name="bo_nilai[]" placeholder="1-9"
                                        data-id_kriteria="{{ kriteria.id_kriteria}}">
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label">Pilih Kriteria Best (Terbaik)</label>
                            <select class="form-control" name="selected_bo" id="boDropdown">
                                <option value="" disabled selected>Pilih Kriteria</option>
                                {% for kriteria in kriterias %}
                                <option value="{{ kriteria.id_kriteria }}">{{ kriteria.nama_kriteria }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="mb-3">
                            <label class="form-label">Pilih Kriteria Worst (Terburuk)</label>
                            <select class="form-control" name="selected_ow" id="owDropdown">
                                <option value="" disabled selected>Pilih Kriteria</option>
                                {% for kriteria in kriterias %}
                                <option value="{{ kriteria.id_kriteria }}">{{ kriteria.nama_kriteria }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="pt-4">
                <button type="submit" class="btn btn-primary me-sm-3">Submit</button>
                <a href="/listOfProject" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

<script>
    document.querySelector("form").addEventListener("submit", function (event) {
        event.preventDefault();

        // Ambil NIP user
        const nip = "123";

        const bestToOthers = document.querySelector("#boDropdown").value;
        const othersToWorst = document.querySelector("#owDropdown").value;
        const idProyek = "{{ proyek.id }}";

        const boData = [];
        let isBoValid = true;
        document.querySelectorAll("#collapseBO .row .col-md-1 input").forEach((input) => {
            const idKriteria = input.dataset.id_kriteria;
            const skor = input.value.trim();

            // Pastikan nilai skor tidak kosong
            if (skor === "") {
                isBoValid = false;
            } else {
                boData.push({
                    nip: "1234",
                    id_kriteria: idKriteria,
                    opsi: "bo",
                    skor: parseInt(skor),


                });
            }
        });

        // Ambil data WO
        const woData = [];
        let isWoValid = true;
        document.querySelectorAll("#collapseOW .row .col-md-1 input").forEach((input) => {
            const idKriteria = input.dataset.id_kriteria;
            const skor = input.value.trim();
            // console.log(input.dataset.id_kriteria);
            // Pastikan nilai skor tidak kosong
            if (skor === "") {
                isWoValid = false;
            } else {
                woData.push({
                    nip: "1234",
                    id_kriteria: idKriteria,
                    opsi: "ow",
                    skor: parseInt(skor),
                });
            }
        });
        // console.log(woData);
        // Kirim data ke server jika ada data
        if (boData.length > 0 && woData.length > 0 && isWoValid && isBoValid && bestToOthers !== "" &&
            othersToWorst !== "") {
            const postData = {
                nip: nip,
                idProyek: idProyek, // Tambahkan idProyek
                best_to_others: bestToOthers, // Pastikan ini ditambahkan
                others_to_worst: othersToWorst, // Pastikan ini ditambahkan
                bo: boData,
                wo: woData
            };
            console.log(boData)
            fetch("/api/proyek_partisipasi", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(postData)
                })
                .then(response => response.json())
                .then(data => {
                    Swal.fire({
                        title: 'Sukses',
                        text: 'Data Berhasil Disimpan',
                        icon: 'success',
                        customClass: {
                            confirmButton: 'btn btn-primary waves-effect waves-light'
                        },
                        buttonsStyling: false
                    }).then(() => {
                        // Redirect ke halaman beranda setelah dialog sukses ditutup
                        window.location.href = "/listOfProject";
                    });
                })
                .catch(error => {
                    console.error("Error:", error);
                });
        } else {
            Swal.fire({
                title: 'Data Belum Lengkap',
                text: 'Silahkan Lengkapi Nilai Kriteria dan Pilih Opsi Kriteria',
                icon: 'warning',
                customClass: {
                    confirmButton: 'btn btn-primary waves-effect waves-light'
                },
                buttonsStyling: false
            });
        }
    });
</script>

{% endblock %}