{% extends 'layout/base.html' %} {% block title %}Detail Proyek{% endblock %} {% block content %}

<!-- Content wrapper -->
<div class="content-wrapper">
  <!-- Content -->
  <!-- Multi Column with Form Separator -->
  <div class="card mb-4">
    <h5 class="card-header">View Proyek</h5>
    <!-- <form class="card-body"> -->
    <!-- WINDOWS 1 -->
    <div class="card-body">
      <h6>1. INFORMASI UMUM</h6>
      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label" for="multicol-username">Nama Proyek</label>
          <input type="hidden" id="id-proyek" class="form-control" value="{{proyek.id}}" />
          <input type="text" id="multicol-username" class="form-control" value="{{proyek.nama_proyek}}" disabled />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="multicol-email">Periode</label>
          <input type="text" id="multicol-username" class="form-control" value="{{proyek.periode_mulai}} s/d {{proyek.periode_selesai}}" disabled />
        </div>
        <div class="col-md-6">
          <label class="form-label">Deskripsi</label>
          <textarea style="resize: yes" id="" rows="5" class="form-control" disabled> {{proyek.deskripsi}} </textarea>
        </div>
        <div class="col-md-2">
          <label class="form-label" for="multicol-confirm-password">Jumlah Kriteria</label>
          <div class="input-group input-group-merge">
            <input type="text" id="multicol-username" class="form-control" value="{{proyek.jumlah_kriteria}}" disabled />
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label" for="multicol-confirm-password">Jumlah Responden</label>
          <div class="input-group input-group-merge">
            <input type="text" id="multicol-username" class="form-control" value="{{proyek.jumlah_responden}}" disabled />
          </div>
        </div>
      </div>
    </div>
    <!-- end WINDOWS 1 -->
    <!-- </form> -->
  </div>
  <!-- WINDOWS 2 -->
  <div class="card mb-4">
    <div class="card-header">
      <div class="accordion" id="collapsibleSectionParticipant">
        <!-- Card Collapsible for Kriteria yang Dinilai-->
        <div class="card accordion-item active">
          <h2 class="accordion-header" id="headingKriteria">
            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseKriteria" aria-expanded="true" aria-controls="collapseKriteria">2. DAFTAR NAMA RESPONDEN</button>
          </h2>
          <!-- Looping Kriteria-->
          <div id="collapseKriteria" class="accordion-collapse collapse show" data-bs-parent="#collapsibleSectionParticipant">
            <div class="accordion-body">
              <div class="md-6">
                <table id="daftarpegawai" style="width: fit-content" class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Nip</th>
                      <th>Nama</th>
                      <th>Tanggal Simulasi</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for cols in view_po %}
                    <tr>
                      <td>{{ cols[0] }}</td>
                      <td>{{ cols[2] }}</td>
                      <td><button class="btn btn-success btn-sm view-btn" data-id="{{cols[0]}}&{{cols[1]}}">View</button></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- end of Card Collapsible for Kriteria yang Dinilai-->
      </div>
    </div>
  </div>
  <!-- end WINDOWS 2 -->
  <!-- WINDOWS 3 -->
  <div class="card mb-4">
    <div class="card-header">
      <!-- <h6>3. METODE PERHITUNGAN</h6> -->
      <div class="accordion" id="collapsibleSectionMethods">
        <!-- Card Collapsible for CHART RESULT -->
        <div class="card accordion-item active">
          <h2 class="accordion-header" id="headingMethods">
            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseMethods" aria-expanded="true" aria-controls="collapseMethods">3. METODE PERHITUNGAN</button>
          </h2>
          <!-- Looping Kriteria-->
          <div id="collapseMethods" class="accordion-collapse collapse show" data-bs-parent="#collapsibleSectionMethods">
            <div class="accordion-body">
              <div class="row">
                <div class="col-md-4">
                  <label for="task-name" style="font-weight: bolder; color: black">Task Name</label>
                  <input type="text" class="form-control" id="task-name" name="task_name"
                      placeholder="Task Name" />
                </div>
                <div class="col-md-4">
                  <label for="purpose" style="font-weight: bolder; color: black">Pilih Metode:</label>
                  <select class="form-control" name="metode" id="metode" style="color: black">
                    <option value="1">Arithmetic Mean Aggregation</option>
                    <option value="2">Geometric Mean Aggregation</option>
                    <option value="3">Distance-Based Aggregation</option>
                    <option value="4">Fuzzy BWM / Interval-Based Aggregation</option>
                    <!-- <option value="5">Fuzzy BWM / Interval-Based Aggregation (Norm)</option> -->
                  </select>
                </div>
                <div class="col-md-4">
                  <div class="mt-4">
                    <button class="btn btn-primary btn-md simulate-btn" data-id="1">Simulasikan</button>&nbsp;
                    <!-- <button class="btn btn-danger btn-md endproject-btn" data-id="1">Akhiri Proyek</button> -->
                  </div>
                </div>
              </div>
              <div class="row mt-3">
                <div id="arithmetic-mean-desc" style="display: block">
                  <label for="title-description-method" id="title-description-method">
                    Mean (rata-rata) adalah metode agregasi yang menghitung nilai tengah dari bobot yang diberikan oleh beberapa decision makers (DMs). Dalam konteks Group Decision Making (GDM), mean digunakan untuk mendapatkan satu bobot
                    representatif untuk setiap kriteria dengan cara menjumlahkan semua bobot.
                  </label>
                  <label for="title-description-method-purpose">
                    <label for="purpose" style="font-weight: bolder; color: black">Tujuan:</label>
                    <ul>
                      <li>Menyediakan bobot yang adil dan representatif.</li>
                      <li>Menyederhanakan perhitungan agregasi.</li>
                      <li>Cocok untuk data yang terdistribusi normal.</li>
                      <li>Digunakan dalam analisis statistik deskriptif</li>
                    </ul>
                  </label>
                </div>
                <div id="geometric-mean-desc" style="display: none">
                  <label for="title-description-method" id="title-description-method">
                    Geometric Mean Aggregation (GMA) adalah metode agregasi yang menghitung bobot kelompok dengan mengalikan bobot individu dan kemudian mengambil akar pangkat-n dari hasil perkalian tersebut.
                  </label>
                  <label for="title-description-method-purpose">
                    <label for="purpose" style="font-weight: bolder; color: black">Tujuan:</label>
                    <ul>
                      <li>Menyeimbangkan perbedaan opini dari berbagai decision makers.</li>
                      <li>Menghindari pengaruh ekstrem dari decision maker tertentu (karena geometric mean cenderung tidak dipengaruhi oleh nilai ekstrem seperti arithmetic mean).</li>
                      <li>Cocok digunakan ketika bobot memiliki skala multiplikatif (misalnya, dalam AHP atau BWM yang memiliki sifat rasio).</li>
                    </ul>
                  </label>
                </div>
                <div id="dba-desc" style="display: none">
                  <label for="title-description-method" id="title-description-method">
                    Distance-Based Aggregation (DBA) adalah metode agregasi yang mencari bobot kelompok dengan meminimalkan jarak antara bobot individu dari decision makers dan bobot akhir grup.
                  </label>
                  <label for="title-description-method-purpose">
                    <label for="purpose" style="font-weight: bolder; color: black">Tujuan:</label>
                    <ul>
                      <li>Mencari solusi agregasi yang paling representatif dengan mempertimbangkan semua decision makers.</li>
                      <li>Menghindari bias dari satu decision maker tertentu, karena metode ini mencari solusi yang paling "dekat" dengan semua pendapat.</li>
                      <li>Cocok digunakan dalam sistem voting atau consensus decision-making, di mana kita ingin mendapatkan nilai yang paling merepresentasikan seluruh kelompok.</li>
                    </ul>
                  </label>
                </div>
                <div id="fuzzy-bwm-desc" style="display: none">
                  <label for="title-description-method" id="title-description-method">
                    Fuzzy BWM adalah pengembangan dari Best Worst Method (BWM) yang memungkinkan bobot kriteria dinyatakan dalam bentuk Triangular Fuzzy Numbers (TFN).
                  </label>
                  <label for="title-description-method-purpose">
                    <label for="purpose" style="font-weight: bolder; color: black">Tujuan:</label>
                    <ul>
                      <li>Menangani ketidakpastian dan ambiguitas dalam penilaian decision makers.</li>
                      <li>Memungkinkan fleksibilitas dalam ekspresi preferensi (karena nilai fuzzy lebih baik dalam menangkap ketidakpastian dibandingkan nilai crisp).</li>
                      <li>Cocok digunakan dalam keputusan yang kompleks dan tidak pasti, seperti proyek infrastruktur besar, pemilihan teknologi, dan strategi bisnis.</li>
                    </ul>
                  </label>
                </div>
                <!-- <div id="fuzzy-bwm-norm-desc" style="display: none">
                  <label for="title-description-method" id="title-description-method">
                    Fuzzy BWM Normalisasi adalah pengembangan dari Best Worst Method (BWM) yang memungkinkan bobot kriteria dinyatakan dalam bentuk Triangular Fuzzy Numbers (TFN).
                  </label>
                  <label for="title-description-method-purpose">
                    <label for="purpose" style="font-weight: bolder; color: black">Tujuan:</label>
                    <ul>
                      <li>Menangani ketidakpastian dan ambiguitas dalam penilaian decision makers.</li>
                      <li>Memungkinkan fleksibilitas dalam ekspresi preferensi (karena nilai fuzzy lebih baik dalam menangkap ketidakpastian dibandingkan nilai crisp).</li>
                      <li>Cocok digunakan dalam keputusan yang kompleks dan tidak pasti, seperti proyek infrastruktur besar, pemilihan teknologi, dan strategi bisnis.</li>
                    </ul>
                  </label>
                </div> -->
              </div>
              <div class="row mt-3">
                <label style="font-weight: bolder; color: black">Ringkasan Perbandingan Metode</label>
                <table class="table table-striped mt-2">
                  <thead style="background-color: #9ccc65">
                    <th style="font-weight: bolder; color: black">Metode</th>
                    <th style="font-weight: bolder; color: black">Definisi</th>
                    <th style="font-weight: bolder; color: black">Kelebihan</th>
                    <th style="font-weight: bolder; color: black">Kekurangan</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td style="font-weight: bolder; color: #1b5e20">Aritmetic Mean</td>
                      <td>Menggunakan nilai rata-rata dari semua bobot individu untuk mendapatkan bobot agregasi kelompok.</td>
                      <td>Sederhana dan mudah dihitung, sering digunakan dalam statistik deskriptif.</td>
                      <td>Rentan terhadap outlier dan bisa bias jika ada decision maker dengan bobot ekstrem.</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bolder; color: #1b5e20">Geometric Mean</td>
                      <td>Menggunakan akar pangkat-n dari hasil perkalian bobot individu.</td>
                      <td>Tidak terpengaruh nilai ekstrem, cocok untuk data rasio.</td>
                      <td>Tidak mempertimbangkan bobot decision makers secara individual.</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bolder; color: #1b5e20">Distance-Based</td>
                      <td>Mencari bobot yang paling dekat dengan semua individu berdasarkan Euclidean distance.</td>
                      <td>Representatif dan tidak bias ke satu decision maker tertentu.</td>
                      <td>Perhitungan bisa lebih kompleks, tergantung solver yang digunakan.</td>
                    </tr>
                    <tr>
                      <td style="font-weight: bolder; color: #1b5e20">Fuzzy BWM</td>
                      <td>Menggunakan triangular fuzzy numbers untuk menangani ketidakpastian.</td>
                      <td>Cocok untuk keputusan yang kompleks dengan banyak ambiguitas.</td>
                      <td>ebih sulit diinterpretasikan dibanding metode crisp.</td>
                    </tr>
                    <!-- <tr>
                      <td style="font-weight: bolder; color: #1b5e20">Fuzzy BWM Normalisasi</td>
                      <td>
                        Menggunakan triangular fuzzy numbers untuk menangani ketidakpastian. <br /><br />Dalam konteks multi-criteria decision making (MCDM), normalisasi adalah proses mengubah bobot atau nilai agar memiliki skala yang lebih
                        seragam, sering kali dalam rentang [0,1] atau agar totalnya menjadi 1.
                      </td>
                      <td>Cocok untuk keputusan yang kompleks dengan banyak ambiguitas.</td>
                      <td>ebih sulit diinterpretasikan dibanding metode crisp.</td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="card-footer">
      <button class="btn btn-primary btn-md simulate-btn" data-id="1">Simulasikan</button>&nbsp;
      <button class="btn btn-danger btn-md endproject-btn" data-id="1">Akhiri Proyek</button>
    </div> -->
  </div>
  <!-- end WINDOWS 3 -->
  <!-- WINDOWS 4 -->
  <div class="card mb-4">
    <div class="card-header">
      <div class="accordion" id="collapsibleSection">
        <!-- Card Collapsible for CHART RESULT -->
        <div class="card accordion-item">
          <h2 class="accordion-header" id="headingResult">
            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseResult" aria-expanded="true" aria-controls="collapseResult">4. HASIL</button>
          </h2>
          <!-- Looping Kriteria-->
          <div id="collapseResult" class="accordion-collapse collapse" data-bs-parent="#collapsibleSection">
            <div class="accordion-body">
              <!-- <div class="md-6"> -->
              <div class="row mb-4">
                <div class="col-xl-12 col-12 mb-6">
                  <div class="card">
                    <div class="card-body center">
                      <!-- <table style="margin-left: 12px; width: fit-content" class="table table-bordered"> -->
                      <table style="margin-left: 12px" class="table table-bordered" id="table-kriteria-bobot">
                        <thead>
                          <tr>
                            <th><b>Kriteria</b></th>
                            <th><b>Bobot</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- {% for nm_krit, bobot in paired_data %} -->
                          <!-- Menampilkan data dalam tabel mendatar -->
                          <!-- <tr>
                            <td>{{ nm_krit }}</td>
                            <td>{{ bobot }}</td>
                          </tr>
                          {% endfor %} -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <!-- Bar Charts -->
                <!-- <div class="col-xl-6 col-12 mb-4">
                  <div class="card">
                    <div class="card-header header-elements">
                      <h5 class="card-title mb-0">Statistik Deskriptif</h5>
                      <div class="card-action-element ms-auto py-0">
                        <div class="dropdown">
                          <button type="button" class="btn dropdown-toggle px-0" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-calendar"></i>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                              <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Today</a>
                            </li>
                            <li>
                              <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Yesterday</a>
                            </li>
                            <li>
                              <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last 7 Days</a>
                            </li>
                            <li>
                              <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last 30 Days</a>
                            </li>
                            <li>
                              <hr class="dropdown-divider" />
                            </li>
                            <li>
                              <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Current Month</a>
                            </li>
                            <li>
                              <a href="javascript:void(0);" class="dropdown-item d-flex align-items-center">Last Month</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <canvas id="barChart" class="chartjs" data-height="400"></canvas>
                    </div>
                  </div>
                </div> -->
                <!-- /Bar Charts -->

                <div class="col-xl-12 col-12 mb-4">
                  <div class="card">
                    <div class="card-header header-elements">
                      <h5 class="card-title mb-0">Statistik</h5>
                      <div class="card-action-element ms-auto py-0"></div>
                    </div>
                    <div class="card-body">
                      <canvas id="barChartBayesian" class="chartjs" data-height="400"></canvas>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card-footer">
        <a href="/listProjectOwner" class="btn btn-secondary">Kembali</a>
      </div> -->
    </div>
    <!-- end of CHART RESULT-->
  </div>
  <!-- end WINDOWS 4 -->
  <!-- WINDOWS 5 -->
  <div class="card mb-4">
    <div class="card-header">
      <div class="accordion" id="collapsibleSectionHistory">
        <!-- Card Collapsible for CHART RESULT -->
        <div class="card accordion-item">
          <h2 class="accordion-header" id="headingResult">
            <button type="button" class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapseHistory" aria-expanded="true" aria-controls="collapseResult">5. SIMULATION HISTORY</button>
          </h2>
          <!-- Looping Kriteria-->
          <div id="collapseHistory" class="accordion-collapse collapse" data-bs-parent="#collapsibleSectionHistory">
            <div class="accordion-body">
              <!-- <div class="md-6"> -->
              <div class="row mb-4">
                <div class="col-xl-12 col-12 mb-6">
                  <div class="card">
                    <div class="card-body center">
                      <!-- <table style="margin-left: 12px; width: fit-content" class="table table-bordered"> -->
                      <table style="margin-left: 12px" class="table table-bordered" id="table-kriteria-hasil">
                        <thead>
                          <tr>
                            <!-- <th><b>No</b></th> -->
                            <th><b>Nama Task</b></th>
                            <th><b>Nama Metode</b></th>
                            <!-- <th><b>jumlah_Responden</b></th> -->
                            <th><b>Tanggal Simulasi</b></th>
                            <th><b>Aksi</b></th>
                          </tr>
                        </thead>
                        <tbody>
                          <!-- {% for nama_task, nama_metode in hasil %}
                          <tr>
                            <td>{{ nama_task }}</td>
                            <td>{{ nama_metode }}</td>
                            <td>Aksi</td>
                          </tr>
                          {% endfor %} -->
                          <!-- <tr>
                            <td>1</td>
                            <td>Percobaan 1</td>
                            <td>Pemilihan Smartphone</td>
                            <td>230</td>
                            <td>19-10-2025</td>
                            <td>View</td>
                          </tr>  -->
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a href="/listProjectOwner" class="btn btn-secondary">Kembali</a>
        {% if proyek.status == null %}
        <button class="btn btn-danger btn-md" id="endproject-btn" data-id="1">Akhiri Proyek</button>
        {% endif %}
      </div>
    </div>
    <!-- end of CHART RESULT-->
  </div>
  <!-- end WINDOWS 5 -->
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  let descriptiveChart = null;
  function updateChart(kriteriaNames, groupWeights) {
    if (descriptiveChart) {
      // 2️⃣ Update labels (jika jumlahnya berubah)
      descriptiveChart.data.labels = kriteriaNames;

      // 3️⃣ Update data dataset pertama (Index 0)
      descriptiveChart.data.datasets[0].data = groupWeights;

      // 4️⃣ Perbarui tampilan chart
      descriptiveChart.update();
    } else {
      // Jika chart belum dibuat, buat chart baru
      generateChart(kriteriaNames, groupWeights);
    }
  }
  function generateChart(kriteriaNames, groupWeights) {
    const ctxBayesian = document.getElementById("barChartBayesian").getContext("2d");
    descriptiveChart = new Chart(ctxBayesian, {
      type: "bar",
      data: {
        labels: kriteriaNames,
        datasets: [
          {
            label: "Weights",
            data: groupWeights,
            // backgroundColor: 'rgba(60, 179, 113, 0.2)',
            backgroundColor: [
              // 'rgba(60, 179, 113, 0.2)', // Soft green
              "rgba(50, 205, 50, 0.2)", // Lime green
              // 'rgba(34, 139, 34, 0.2)',  // Forest green
              // 'rgba(46, 139, 87, 0.2)',  // Sea green
              // 'rgba(144, 238, 144, 0.2)', // Light green
              // 'rgba(152, 251, 152, 0.2)'  // Pale green
            ],
            // borderColor: 'rgba(60, 179, 113, 1)',   // Soft green
            borderColor: [
              // 'rgba(60, 179, 113, 1)',   // Soft green
              "rgba(50, 205, 50, 1)", // Lime green
              // 'rgba(34, 139, 34, 1)',    // Forest green
              // 'rgba(46, 139, 87, 1)',    // Sea green
              // 'rgba(144, 238, 144, 1)',  // Light green
              // 'rgba(152, 251, 152, 1)'   // Pale green
            ],
            borderWidth: 1,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
  }
  $(document).ready(function () {
    // Inisialisasi DataTable
    $("#daftarpegawai").DataTable();

    // ------------------------
    // Event listener untuk tombol View
    $("#daftarpegawai").on("click", ".view-btn", function () {
      const [nip, viewid] = $(this).data("id").split("&");
      // Ambil data proyek berdasarkan ID
      $.get(`/proyek/${viewid}/view_pod/${nip}`, function (data) {
        window.location.href = `/proyek/${viewid}/view_pod/${nip}`;
      }).fail(function () {
        alert("Gagal memuat detail proyek. Silakan coba lagi.");
      });
    });

    document.querySelector("#metode").addEventListener("change", function (ev) {
      if (ev.currentTarget.value == 1) {
        document.getElementById("arithmetic-mean-desc").style.display = "block";
        document.getElementById("geometric-mean-desc").style.display = "none";
        document.getElementById("dba-desc").style.display = "none";
        document.getElementById("fuzzy-bwm-desc").style.display = "none";
        document.getElementById("fuzzy-bwm-norm-desc").style.display = "none";
      }
      if (ev.currentTarget.value == 2) {
        document.getElementById("arithmetic-mean-desc").style.display = "none";
        document.getElementById("geometric-mean-desc").style.display = "block";
        document.getElementById("dba-desc").style.display = "none";
        document.getElementById("fuzzy-bwm-desc").style.display = "none";
        document.getElementById("fuzzy-bwm-norm-desc").style.display = "none";
      }
      if (ev.currentTarget.value == 3) {
        document.getElementById("arithmetic-mean-desc").style.display = "none";
        document.getElementById("geometric-mean-desc").style.display = "none";
        document.getElementById("dba-desc").style.display = "block";
        document.getElementById("fuzzy-bwm-desc").style.display = "none";
        document.getElementById("fuzzy-bwm-norm-desc").style.display = "none";
      }
      if (ev.currentTarget.value == 4) {
        document.getElementById("arithmetic-mean-desc").style.display = "none";
        document.getElementById("geometric-mean-desc").style.display = "none";
        document.getElementById("dba-desc").style.display = "none";
        document.getElementById("fuzzy-bwm-desc").style.display = "block";
        document.getElementById("fuzzy-bwm-norm-desc").style.display = "none";
      }
      if (ev.currentTarget.value == 5) {
        document.getElementById("arithmetic-mean-desc").style.display = "none";
        document.getElementById("geometric-mean-desc").style.display = "none";
        document.getElementById("dba-desc").style.display = "none";
        document.getElementById("fuzzy-bwm-desc").style.display = "none";
        document.getElementById("fuzzy-bwm-norm-desc").style.display = "block";
      }
    });

    document.querySelector(".simulate-btn").addEventListener("click", function (event) {
      const tbody = document.querySelector("#table-kriteria-bobot tbody");
      const tbody_hasil = document.querySelector("#table-kriteria-hasil tbody");
      if (tbody && tbody_hasil) {
        tbody.innerHTML = "";
        tbody_hasil.innerHTML = "";
      }
      event.preventDefault();
      idProyek = document.getElementById("id-proyek").value;
      metode = document.getElementById("metode").value;
      task_name = document.getElementById("task-name").value;

      fetch("/api/final_simulate", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ idProyek: idProyek, metode: metode, namaTask:task_name }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            const hasil = data.hasil;
            const groupWeights = data.group_weights_json;
            const kriteriaNames = data.kriteria_names_json;
            // Misalkan data.data adalah hasil JSON dari API
            for (let i = 0; i < data.data.length; i++) {
              const element = data.data[i]; // Akses setiap objek {nama_kriteria, bobot}
              const namaKriteria = element.nama_kriteria;
              const bobot = element.bobot;

              const row = document.createElement("tr");

              const namaKriteriaCell = document.createElement("td");
              namaKriteriaCell.textContent = namaKriteria; // Masukkan teks nama_kriteria
              row.appendChild(namaKriteriaCell);

              const bobotCell = document.createElement("td");
              bobotCell.textContent = bobot.toFixed(6); // Format bobot dengan 6 angka di belakang koma
              row.appendChild(bobotCell);

              // Append baris baru ke tabel dengan id "table-kriteria-bobot"
              const tbody = document.querySelector("#table-kriteria-bobot tbody");
              if (tbody) {
                tbody.appendChild(row);
              }
            }

            // Misalkan data.data adalah hasil JSON dari API
            for (let j = 0; j < data.hasil.length; j++) {
              const element = data.hasil[j]; // Akses setiap objek {nama_kriteria, bobot}
              const namaTask = element.nama_task;
              var metode = '';
              switch (element.nama_metode) {
                case '1':
                  metode = 'Arithmetic Mean Aggregation'; break;
                case '2':
                  metode = 'Geometric Mean Aggregation'; break;
                case '3':
                  metode = 'Distance-Based Aggregation'; break;
                case '4':
                  metode = 'Fuzzy BWM / Interval-Based Aggregation'; break;
                case '5':
                  metode = 'Fuzzy BWM / Interval-Based Aggregation (Norm)'; break;
                default:
                  metode = ''; break;
              }
              const tglsimulasi = element.tgl_simulasi;

              const row = document.createElement("tr");

              const namaTaskCell = document.createElement("td");
              namaTaskCell.textContent = namaTask; // Masukkan teks nama_kriteria
              row.appendChild(namaTaskCell);

              const metodeCell = document.createElement("td");
              metodeCell.textContent = metode; // Format bobot dengan 6 angka di belakang koma
              row.appendChild(metodeCell);

              const tglCell = document.createElement("td");
              tglCell.textContent = tglsimulasi; // Format bobot dengan 6 angka di belakang koma
              row.appendChild(tglCell);

              // ----------------------------------------
              // **Tambahan: Kolom dengan tombol ikon**
              const actionCell = document.createElement("td");
              const actionButton = document.createElement("button");
              actionButton.innerHTML = '<i class="fas fa-eye"></i>'; // Ikon Font Awesome
              actionButton.classList.add("btn", "btn-primary", "btn-sm");

              // Redirect ke halaman baru saat tombol diklik
              actionButton.addEventListener("click", function () {
                window.location.href = `/detail_task?id=${idProyek}&task=${encodeURIComponent(namaTask)}`;
              });

              actionCell.appendChild(actionButton);
              row.appendChild(actionCell);
              // ----------------------------------------

              // Append baris baru ke tabel dengan id "table-kriteria-bobot"
              const tbody = document.querySelector("#table-kriteria-hasil tbody");
              if (tbody) {
                tbody.appendChild(row);
              }
            }

            updateChart(kriteriaNames, groupWeights);

            // Tambahkan class 'active' pada elemen dengan class 'card accordion-item'
            const accordionItem = document.querySelector("#collapsibleSection > .card.accordion-item");
            if (accordionItem) {
              accordionItem.classList.add("active");
            }

            // Tambahkan class 'show' pada elemen dengan id 'collapseKriteria'
            const collapseKriteria = document.getElementById("collapseResult");
            if (collapseKriteria) {
              collapseKriteria.classList.add("show");
            }

            const accordionMethods = document.querySelector("#collapsibleSectionMethods > .card.accordion-item");
            if (accordionMethods) {
              accordionMethods.classList.remove("active");
            }

            // Tambahkan class 'show' pada elemen dengan id 'collapseMethods'
            const collapseMethods = document.getElementById("collapseMethods");
            if (collapseMethods) {
              const bsCollapse = new bootstrap.Collapse(collapseMethods, {
                toggle: false, // Jangan langsung toggle, hanya jalankan `hide()`
              });
              bsCollapse.hide(); // Tutup accordion dengan animasi

              collapseMethods.classList.remove("show");
            }

            const accordionItemSimulationHistory = document.querySelector("#collapsibleSectionHistory > .card.accordion-item");
            if (accordionItemSimulationHistory) {
              accordionItemSimulationHistory.classList.add("active");
            }

            const collapseHistory = document.getElementById("collapseHistory");
            if (collapseHistory) {
              collapseHistory.classList.add("show");
            }
          } else {
            alert("Terjadi kesalahan: " + data.message);
          }
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    });

    document.querySelector("#endproject-btn").addEventListener("click", function(ev){
      const idProyek = document.getElementById("id-proyek").value;
      fetch("/api/close_project", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ idProyek: idProyek }),
      })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          Swal.fire({
            title: 'Sukses!',
            text: data.message,
            icon: 'success',
            showCancelButton: false,
            confirmButtonText: 'OK',
            customClass: {
              confirmButton: 'btn btn-primary me-3 waves-effect waves-light'
            },
            buttonsStyling: true
          }).then(function (result) {
            if (result.value) {
              window.location.href = `/listProjectOwner`;
            }
          });
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
    })
  });
</script>
{% endblock %}
